.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.admin-sidebar {
  margin-top: 85px;
  background-color: #3a3a3a;
  position: fixed;
  width: 300px;
  padding: 2rem 1rem;
  height: 100%;
}
.normal {
  display: flex;
  text-decoration: none;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border-radius: 30px;
  gap: 1rem;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  color: white;
  align-items: center;
}

.active {
  display: flex;
  text-decoration: none;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border-radius: 30px;
  gap: 1rem;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  color: #3a3a3a;
  align-items: center;
  background-color: white;
}
.normal:hover {
  background-color: gray;
}

.sidebar-end{
  padding-bottom: 70px;
  flex-grow: 1;
  justify-content: flex-end;
}
.profile-item {
  justify-self: flex-end;
  position: relative;
  background-color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  border-radius: 50px;
  align-items: center;
  gap: 1rem;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
}
.profile-img {
  border-radius: 30px;
}

.logoutContainer {
  position: absolute;
  bottom: 70px;
  background-color: white;
  text-align: center;
  width: 250px;
  padding: 1rem 0;
  border-radius: 30px;
  left: 10px;
}

@media (max-width: 750px) {
  .nav-title {
    display: none;
  }
  .username {
    display: none;
  }
  .admin-sidebar {
    width: 100px;
  }
  .profile-item {
    background-color: #3a3a3a;
  }
}
