.flex{
    display: flex;
}
.services-section{
    margin-left: 300px;
    padding: 60px;
    width: 100%;
    align-items: center;
}

.services-title{
    margin-right: 100px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Roboto";
    padding-bottom: 1rem;
    cursor: pointer;
}
.selected{
    border-bottom: 2px solid;
}
.services-header{
    margin-bottom: 45px;
    justify-content: space-between;
    width: 100%;
}