.flex {
  display: flex;
}
.profile-section {
  margin-top: 85px;
  margin-left: 300px;
  padding: 60px; 
  width: 100%;
  align-items: center;
  justify-content: center;
}

.profile-title {
  margin-right: 100px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Roboto";
  padding-bottom: 1rem;
  cursor: pointer;
}
.selected {
  border-bottom: 2px solid;
}
.profile-header {
  margin-bottom: 45px;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

@media (max-width:750px){
  .profile-section{
    margin-left: 100px;
  }

}
@media (max-width:500px){
  .profile-section{
    margin-left: 0;
    padding: 60px 0;
    padding-top: 40px;
  }
  .profile-header{
    justify-content: space-around;
  }
  .profile-title{
    font-size: 20px;
    margin-right: 0 !important;
  }
  

}