* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.navbar {
  position: fixed;
  left: 0;
  top:0;
  padding: 10px 52px;
  gap: 36px;
  align-items: center;
  background-color: white;
  width: 100%;
  z-index: 1;
}
.logo {
  border-radius: 50px;
}
.logo-img {
  border-radius: 50px;
  height: 60px;
  width: 60px;
}
.title {
  font-size: 32px;
  font-weight: bold;
  font-family: "Roboto";
  letter-spacing: 1px;
}

@media (max-width: 500px) {
  .title {
    font-size: 25px;
  }
}
