.flex {
  display: flex;
}
.clients-section {
  margin-top: 85px;
  margin-left: 300px;
  padding: 60px;
  width: 100%;
  align-items: center;
}

.clients-title {
  margin-right: 100px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Roboto";
  padding-bottom: 1rem;
  cursor: pointer;
}

.clients-header {
  margin-bottom: 45px;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 750px) {
  .clients-section {
    margin-left: 100px;
  }
  .clients-header {
    justify-content: center;
  }
  .clients-title {
    width: 150px;
    margin-right: 20px;
    text-align: center;
  }
}
@media (max-width: 1100px) {
  .clients-title {
    width: 200px;
    text-align: center;
  }
}

